@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans:400,700&display=swap');
html, body {
  background: #000;
}
main {
  font-family: 'IBM Plex Mono', monospace;
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}
#status {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  text-align: center;
  color: #fff;
  background: #ff4040;
  font-size: 0.9em;
  padding: 0.5em;
}
#act, #scene {
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #E6E6E6;
}
.scene--stage {
  height: 200px;
  width: 100%;
  overflow: hidden;
  padding: 40px 20px 20px 20px;
}
.scene--stage img {
  max-width: 100%;
  max-height: 100%;
}
#act {
  position: absolute;
  z-index: 1;
  padding: 1em;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: none;
  bottom: 0;
}
#act h1, #act h2 {
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}
.act--desc {
  margin-top: 1em;
  line-height: 1.5;
}
.scene--body {
  flex: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
#scene h3 {
  font-weight: normal;
}
.scene--desc {
  flex: 1;
  font-size: 0.8em;
  margin: 1em 0 2em 0;
  text-align: left;
}
.scene--action {
  background: #B287B5;
}

.button {
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  margin-bottom: 0.5em;
  background: #414BB2;
  color: #fff;
}
.button.waiting {
  background: #F05352;
}

.scene--actions.disabled .scene--action {
  opacity: 0.5;
}

.listing {
  text-align: left;
  font-size: 0.9em;
  padding: 1em 1em 0.5em 1em;
  border-bottom: 1px dashed black;
  line-height: 1.5;
}
.listing--title {
  font-weight: bold;
  text-decoration: underline;
}
.listing-unaffordable {
  opacity: 0.35;
}
.listing--select {
  padding: 0.75em;
  text-align: center;
  background: #222;
  color: #fff;
  margin-top: 0.5em;
}
.listing--select.disabled {
  opacity: 0.25;
}
.listing--elapsed {
  color: #777;
  font-style: italic;
  font-size: 0.9em;
}
.listing--warning {
  font-size: 0.7em;
}
.listing p {
  font-size: 0.95em;
  margin: 0.5em 0;
  line-height: 1.3;
}
.listings--neighborhood {
  text-align: center;
  font-style: italic;
  font-size: 1em;
  text-decoration: underline;
  margin-bottom: 0;
  padding-bottom: 1em;
  border-bottom: 1px dashed black;
}
.listings--skip,
.listings p {
  margin: 0 1em !important;
}
.listings--help {
  margin: 1em 0;
  font-style: italic;
  color: #555;
  padding: 1em;
}
.apartment-search #stage {
  padding: 0;
  border-bottom: 1px solid black;
}
.apartment-search .button {
  margin: 1em 0;
}
#apartment-search--popup {
  display: none;
}
.popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.75);
  align-items: center;
  z-index: 100;
}
.popup--content {
  margin: 1em auto;
  max-width: 270px;
  padding: 2em 1em 0em 1em;
  width: 100%;
  background: #E6E6E6;
  border-radius: 0.25em;
  box-shadow: 0px 4px 0px rgba(255,255,255,0.5);
}
.popup--content p {
  font-size: 0.9em;
}

.splash h1 {
  font-size: 3em;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-bottom: 0;
}

.splash h2 {
  font-weight: normal;
  font-style: italic;
  font-size: 0.8em;
  color: #333;
  margin: 0 0 4em 0;
}
.splash--image img {
  width: 100%;
}

.summary {
  background: rgb(165,150,255);
  background: linear-gradient(180deg, rgba(165,150,255,1) 0%, rgba(254,197,169,1) 100%);
  min-height: 100vh;
}

.equity-results {
  background: #FED07E;
  background: linear-gradient(180deg, #FED07E 0%, #D6FE76 100%);
  min-height: 100vh;
}
.equity-results ul {
  margin: 1em 0;
}
.equity-results .scene--title {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
.equity-results--units {
  margin: 0.5em 0 2.5em 0;
}
.equity--results--neighb {
  width: 50%;
  display: inline-block;
  text-align: center;
  margin: 0.5em 0;
  vertical-align: top;
}
.equity--results--neighb--units {
  font-weight: bold;
  font-size: 1.25em;
}
.equity-results--neighb--name {
  font-size: 0.8em;
  padding: 0 0.2em;
}
.equity-results h4 {
  margin-bottom: 0;
  text-decoration: underline;
}

.summary .bar-annotated {
  margin: 0.5em 0;
}
.summary ul,
table {
  font-size: 0.85em;
  text-align: left;
  margin: 1em 0 2em 0;
  width: 100%;
}
table td:last-child {
  text-align: right;
}
.summary h1 {
  margin: 0.25em 0;
  font-size: 1.2em;
  font-style: italic;
}
.summary p {
  font-size: 0.8em;
}
.summary .button {
  background: #8851B3;
  margin-top: 2em;
}
.player-summary {
  margin-top: 1em;
}

.bar {
  flex: 1;
  width: 100%;
  height: 12px;
  background: #F52D3F;
}
.bar-labeled {
  display: flex;
  align-items: end;
}
.bar--label {
  font-size: 0.8em;
  line-height: 1.1;
}
.bar-labeled .bar--label {
  width: 20%;
  padding-right: 0.5em;
}
.bar-annotated--labels {
  display: flex;
}
.bar--label-left {
  text-align: left;
  width: 50%;
}
.bar--label-right {
  text-align: right;
  width: 50%;
}
.bar--fill {
  height: 100%;
  background: #834EB8;
  max-width: 100%;
  position: relative;
}
.bar--subfill {
  position: absolute;
  right: 0;
  max-width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.1);

  white-space: nowrap;
  line-height: 3.8;
  font-size: 10px;
}

input[type=range] {
  margin-bottom: 2em;
}

.signed {
  color: #fff;
  border-radius: 0.2em;
  font-size: 0.8em;
  padding: 0 0.2em;
  background: #777;
}
.signed-good {
  background: #0cba58;
}
.signed-bad {
  background: #ff1f1f;
}
