* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #ffc2c2;
  font-family: monospace;
}

.tooltip {
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: 0.5em;
  border: 2px solid black;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#chart {
  position: fixed;
  padding: 2em;
  right: 0;
  top: 0;
  pointer-events: none;
}
#chart .chart {
  width: 340px;
  height: 280px;
  display: none;
}
#bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #4c4cf5;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
#time {
  padding: 0.5em;
  border-left: 1px solid #ffc2c2;
}
#players {
  padding: 0.5em;
  border-right: 1px solid #ffc2c2;
}
#sparks {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
#sparks .chart {
  width: 100px;
  height: 24px;
  display: inline-block;
  padding: 2px;
  vertical-align: middle;
}
#sparks .chart-group {
  flex: 1;
  padding: 0 0.5em;
}
#sparks .chart-group.focused-chart {
  /* background: #FF4040; */
  background: #3f71ff;
}
#sparks .chart-title {
  margin-right: 2px;
}
#city-status-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: -1;
}
#city-status {
  color: #fff;
  background: #f53a3a;
  padding: 1em;
  margin: 0em auto;
  display: inline-block;
}
