html, body {
  margin: 0;
  padding: 0;
  background: #ffc2c2;
  font-family: monospace;
}

.tooltip {
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: 0.5em;
  border: 2px solid black;
}

#stats {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
