* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

#city {
  background: #ffc2c2;
}

.tooltip {
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: 0.5em;
  border: 2px solid black;
}

#hud {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
  max-width: 16em;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#play {
  /* background: #8befec; */
  color: #fff;
  background: #000;
  text-align: center;
  max-width: 360px;
  margin: 0 auto;
}
.event {
  padding: 0.5em;
  margin: 0 1em;
  border-radius: 0.2em;
  /* background: #ed1c27; */
  /* box-shadow: 4px 4px 0 rgba(234, 30, 41, 0.4); */
  background: #25c65b;
  box-shadow: 4px 4px 0 rgba(37, 198, 91, 0.4);
  transition: 0.9s opacity;
  opacity: 0;
}
.event h2 {
  text-transform: uppercase;
  border-bottom: 4px solid rgba(0,0,0,0.3);
  display: inline-block;
  padding: 0 0.2em;
}
.event p {
  font-size: 1.2em;
  line-height: 1.4;
}
.event-actions li {
  background: rgba(200,200,200);
  padding: 0.5em 1em;
  border-radius: 0.2em;
  color: #000;
  margin-bottom: 0.5em;
}
.event-actions li:hover {
  background: #222;
  color: #fff;
  cursor: pointer;
}
.event-actions h3 {
  margin: 0.25em 0;
  display: inline-block;
}
.event-actions img {
  max-width: 28px;
  vertical-align: middle;
  margin-right: 0.5em;
}
