{% extends 'layout.html' %}
{% block content %}
<style>
html { overflow: hidden; }
</style>
<div id="chart"></div>
<div id="bar">
    <span id="players"><span id="n_players">0</span> players | join at {{ request.host }}/play</span>
    <div id="sparks"></div>
    <div id="time"></div>
</div>
<div id="city-status-overlay"><div id="city-status">Waiting for simulation to load...</div></div>
<main id="main">
</main>
<audio id="audio" autoplay loop>
  <source src="/static/cityscape.ogg" type="audio/ogg">
  <source src="/static/cityscape.mp3" type="audio/mpeg">
</audio>
<script src="{{ url_for('static', filename='js/city.js') }}"></script>
{% endblock %}

