<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>doma.play</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% if request.endpoint == 'player.play' %}
      <link rel="stylesheet" href="{{ url_for('static', filename='play.css') }}">
  {% endif %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
