{% extends 'layout.html' %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');
    main {
        font-family: 'PT Mono', monospace;
        max-width: 320px;
        margin: 0 auto;
        position: relative;
        height: 100vh;
    }
    #act, #scene {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
    }
    #scene--body {
        flex: 1;
    }
    #act {
        z-index: 1;
        padding: 1em;
        color: #fff;
        align-items: center;
        justify-content: center;
    }
    #act h1, #act h2 {
        margin: 0;
        font-weight: normal;
        text-transform: uppercase;
    }
    #act--desc {
        margin-top: 1em;
        line-height: 1.5;
    }
    #scene--body {
        padding: 1em;
    }
    #scene h3 {
        font-weight: normal;
    }
    #scene--desc {
        font-size: 0.8em;
        margin: 1em 0 2em 0;
    }
    .scene--action {
        cursor: pointer;
        padding: 0.5em 1em;
        border-radius: 0.2em;
        margin-bottom: 0.5em;
    }
</style>
<main>
    <div id="act">
        <h2 id="act--number"></h2>
        <h1 id="act--title"></h1>
        <div id="act--desc"></div>
    </div>

    <div id="scene">
        <div id="scene--body">
            <h3 id="scene--title"></h3>
            <p id="scene--desc"></p>
            <div id="scene--actions"></div>
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename='js/play.js') }}"></script>
{% endblock %}
